/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 90%;
  width: 95%;
  margin: auto;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 95%;
  margin: 0;
  padding: 0px;
}

#pac-input {
  text-indent: 30px;
  color: black;
}

.brand-logo {
  text-indent: 30px;
}

#save {
  background-color: rgb(255, 0, 0);
  border: 1px solid;
  box-shadow: 2px 5px black;
}
