/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 90%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 98%;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.btn {
  background-color: rgb(255, 0, 0);
  border: 1px solid;
  box-shadow: 2px 5px black;
}
.safe {
  max-width: 20%;
  max-height: 20%;
}

.brand-logo {
  margin-left: 3%;
}
